

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EWHA EUNJI</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!-- 상단 네비게이션 바 -->
		<div class="navbar navbar-inverse navbar-fixed-top">
    	<div class="container">
        <div class="navbar-header">
          <!-- 브라우저가 좁아졋을때 나오는 버튼(클릭시 메뉴출력) -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">WORD COUNT</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">홈으로</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
          </ul>
        </div>
      </div>
	</div>
	<div class="container">
      <div style="margin-top: 100px;">
        <h1>당신이 입력한 텍스트는 {{ total }} 단어로 구성되어 있습니다.</h1>
        <p class="lead">
                <a href="{% url 'home' %}"> 다시하기 </a>

                <h1>입력한 텍스트: </h1>
                
                {{ fulltext }}
                
                <h1>단어 카운트:</h1>
                
                {% for word, countTotal in dictionary %}
                {{ word }} - {{ countTotal }}
                <br>
                {% endfor %}
            </p>
      </div>
	</div>
	</body>
</html>